<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <h2>Ionic 4 app made for practice purposes</h2>
  <p>This app is using an <strong>PokéAPI</strong> The RESTful Pokémon API for the pokemons + an infinite scroll,
    skeleton items, ion-slides and has
    a side menu navigation.</p>
  <ion-button expand="full" (click)="openWebsite()">
    Open Repository
  </ion-button>
</ion-content>
